---
title: GitLab Source Code Management
description: "GitLab streamlines software development with comprehensive source code management."
suppress_header: true
canonical_path: "/solutions/benefits-of-using-version-control/"
description: "GitLab streamlines software development with comprehensive source code management. Learn more!"
extra_css:
  - agile-delivery.css
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css
  - devops.css


extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
  - in-page-nav.js
  - all-clickable.js
  - libs/on-scroll.js

---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  = image_tag "/images/version-control/version-control.svg", class: "image-border", alt: "Gitlab branch logo svg"
  .header-content-y.flex-container.flex-column.justify-center.align-center
    %h1 GitLab Source Code Management
    %p
    Accelerate speed with controls for faster and safer software.
    = link_to "Try GitLab for Free", "/free-trial/", class: "btn cta-btn accent", :"data-ga-name" => "Try GitLab for free", :"data-ga-location" => "hero"

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-md
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-lg.js-in-page-nav-section#what-is-gitlab-version-control
        .col-md-10.col-md-offset-1
          %h2.u-text-brand What is GitLab Source Code Management?

          = partial('/includes/solutions/vcc/1-two-column-video-overview.html.haml')

      .row.u-margin-top-lg.js-in-page-nav-section#why-use-gitlab-version-control
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Why use GitLab Source Code Management?
          %h3.margin-top0
            Transform software development - build a solid DevOps foundation
          .row
            .column.item
              .title
                Boost productivity
              .description-left
                .li - Reduce rework
                .li - Lower cost of delivery
                .li - Improve dev experience
            .column.item
              .title
                Accelerate delivery
              .description-left
                .li - Shrink cycle time
                .li - Rapid reviews and quality
                .li - Increase dev velocity
            .column.item
              .title
                Secure & Compliant
              .description-left
                .li - End to end traceability
                .li - Visibility and reporting
                .li - Simplify audits & security

      .row.u-margin-top-lg.js-in-page-nav-section#benefits-of-gitlab-version-control
        .cta-featured-grid
          .row.u-margin-bottom-md
            .col-md-10.col-md-offset-2
              %h2.u-text-brand Benefits of GitLab Source Code Management
              .featured-icons.text-center
                .featured-icon
                  = partial "/images/devops-tools/gitlab-pipeline.svg"
                  %p.number Teams deliver faster
                  %p.description
                  .description-left
                    .li - One application for all
                    .li - Collaborate and commit
                    .li - Streamline code reviews
                .featured-icon
                  = partial "/images/devops-tools/gitlab-rocket.svg"
                  %p.number Always be launching
                  %p.description
                  .description-left
                    .li - Automate delivery
                    .li - Simplify branching
                    .li - Manage large files and huge repos
                .featured-icon
                  = partial "/images/devops-tools/security-icon.svg"
                  %p.number Track and trace
                  %p.description
                  .description-left
                    .li - Quick audits and compliance
                    .li - End to end traceability
                    .li - Scan and find vulnerabilities

  .content-container.padding-vertical0.grey-bg.container{:id=>"version-control-collaboration-happy-customers"}
    / ----- This creates the recommendation/quote block
    .container
      = partial('includes/solutions/vcc/worldline-quote.html.haml')

  .content-container.padding-vertical0.white-bg.container{:id=>"version-control-collaboration-future"}
    / ----- This creates a three tile section
    .container
      = partial('includes/solutions/vcc/vcc-roadmap.html.haml')

  .content-container.padding-vertical0.grey-bg.container{:id=>"version-control-collaboration-capabilities"}
    / ----- This creates the Case Studies Carousel  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.vcc.case_studies
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

  .content-container.padding-vertical0.white-bg.container{:id=>"version-control-collaboration-reviews"}
    / ----- This creates the Gartner Peer Insights  The content is in the solutions.yaml data file
    .container
      - content = data.solutions.vcc.gartner_peer_insights
      = partial('includes/solutions/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })
